 <div class="user-details">
  <h1> Domaines d'expertises </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Documentations</h2>
    <p>Rédiger des cahiers des charges décrivant des périmètres fonctionnels est la principale mission de Designer Fonctionnel. </p>
    <p>Les livrables permettent un suivi de rédaction, possèdent une métrique propre facilitant le pilotage des développement; tout en s'intégrant dans toute méthodologie agile. </p>
    <i class="devicon-unifiedmodelinglanguage"></i>
  </div>
  <div class="tech">
    <h2>Modélisation</h2>
    <p>La modélisation est un des outils de l'analyse fonctionnelle. Il permet de représenter les données, leurs rôles et liens entre elles, les processus en jeu, les fonctionnalités, les parcours utilisateurs, les traitements serveurs.</p>
    <p>Au-delà des modèles, sont les algorithmes, dont la description littéraire permet un partage et une validation aisée. </p>
    <i class="devicon-javascript-plain colored"></i>
  </div>
  <div class="tech">
    <h2>Solutions</h2>
    <p>Les descriptions littéraires et modélisations permettent de clarifier les besoins exhaustifs et de fonds, pour mieux y répondre. </p>
    <p>On parle souvent de solutions informatiques, ce qui de manière sous-jacente qu'à la base il y une problématique. Designer fonctionnel vous propose de résoudre toute problématiques IT, indépendamment de sa complexité. </p>
    <i class="devicon-atom-original-wordmark"></i>
  </div>
</div>