<div class="user-details">
  <h1> Expérience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>  <div class="contents">
    <h3> Mozaic.link </h3>
    
      <h4> Gestionnaire de marque-pages</h4>
    
    <p>Mozaic.link est un gestionnaire de marque page indépendant de votre navigateur ou de votre système d'exploitation. Il vous permet de retrouver l'accès à tous vos contenus depuis n'importe où. </p>
    <a class="project-link" href="https://mozaic.link" target="_blank">Ouvrir</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Assurance vie </h3>
    
      <h4>CRM pour distributeur de contrats d'assurance vie. </h4>
    
    <p>Je travaille depuis 2017 sur des problématiques liées aux CRM des distributeurs de contrats d'assurance vie.</p>
    <p>Ces CRM, en plus de leurs utilisations génériques, sont l'interface entre les assureurs, les clients et d'autres services tant de contrôles que de validations. Ces systèmes complexes nécessitent souvent une description complète pour partager, maîtriser les outils utilisés. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/design-fonctionnel.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Avant les méthodes agiles </h3>
    
      <h4> On trouve la documentation.</h4>
    
    <p>En conception de système informatique, on trouve pléthore de méthodes dont l'utilité varie souvent selon le degré d'intégration et le sujet sur lequel elles portent. </p>
    <p>Quelque soit la méthodologie employée, la documentation doit être soit disponible en amont, soit rédigée au fil de l'eau. On voit souvent le manque de documentation comme source de coûts non maîtrisés pour la reprise d'existant, dont le savoir est uniquement oral et dont le dernier sachant a quitté son poste pour autre chose. Le manque de documentation est synonyme de coûts.  </p>
    <p><a class="project-link" href="https://gray-foundation-a6c.notion.site/M-thodologie-et-outillage-Designer-Fonctionnel-1b27f37ed3c680dfacbcf7fe6768de57" target="_blank">Méthodologie</a></p>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/math.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Formations en Mathématiques </h3>
    
      <h4>Mathématiques pour le développement de jeux vidéos </h4>
    
    <p>Depuis la rentrée 2017, je forme développeuses et développeurs en mathématiques appliquée à l'informatique. </p>
    <p>Ces formations dispensées à 30 à 60 élèves, vont des connaissances de terminales à l'utilisation d'outils tels que les transformées de Fourier, les quaternions, par exemple.</p>


    <p>L'objectif est tant d'apporter des outils d'analyse et de modélisation que de présenter le formalisme qui permet à leurs moteurs de fonctionner. </p>


    <a class="project-link" href="https://iamhenri.github.io/notes-maths-tex/index.html">Notes de maths pour dev</a>
  </div>
</div>
